<!DOCTYPE html>
<html>
<head>
	<title><%= serverData.name %> AwesomePoints - WindowsBot Admin Console</title>
	<% include ../partials/head %>

	<script src="/static/js/form-change-listener.js"></script>
</head>
<body onload="saveFormState();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						AwesomePoints
					</h1>
					<div class="container">
						<article class="message is-primary">
							<div class="message-body">
								Points are being phased out of WindowsBot. Please do not rely on them for member rewards.
							</div>
						</article>
					</div>
					<br>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
